/* ---------------------------------------------------
    CUSTOM COLOR
----------------------------------------------------- */
/* ---------------------------------------------------
    FIXED PARAMETERS
----------------------------------------------------- */
@import "poppins.css";
.bg-main-color {
  background-color: #ffdf00;
}

.txt-main-color-secondary {
  color: #4b4b4b;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 10px 10px;
  background: #fff !important;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.light-bold {
  font-weight: 600;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #aaa;
  margin: 10px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.text-sidebar {
  color: #4b4b4b;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 210px;
  max-width: 210px;
  color: #4b4b4b;
  transition: 0s;
}

#sidebar.sidebar-hidden {
  margin-left: -210px;
  min-width: 210px;
}

#sidebar ul.components {
  padding: 0;
  margin: 0;
}

#sidebar ul p {
  color: #4b4b4b;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.9em;
  display: block;
}

#sidebar ul li a:hover {
  color: #ffdf00;
  background: #4b4b4b;
  opacity: 1 !important;
}

#sidebar ul li.active > a {
  color: #ffdf00;
  background: #4b4b4b;
  opacity: 0.8;
}

#sidebar li {
  border-bottom: solid 1px rgba(50, 50, 50, 0.1);
  background-clip: border-box;
  margin-bottom: -1px;
}

#sidebar {
  transition: all 0s;
}
#sidebar i {
  margin-left: 7px;
  margin-right: 10px;
  display: inline;
}

.fas {
  display: inline;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: translateY(-50%);
  opacity: 0.5;
}

.dropdown-toggle {
  white-space: normal !important;
}

ul a {
  background: rgba(0, 0, 0, 0.1);
}

ul ul a {
  font-size: 0.9em !important;
  background: rgba(0, 0, 0, 0.2);
}

ul ul ul a {
  background: rgba(0, 0, 0, 0.3);
}

.user-btn {
  float: right;
  color: #4b4b4b;
  margin-right: 10px;
}

.navbar-logo-div {
  width: auto;
  max-height: 50px;
  background-color: #ffdf00;
  text-align: center;
}

.navbar-logo-img {
  width: auto;
  max-height: 50px;
  background-color: #4b4b4b;
}

.sm-hide {
  display: inline;
}

.sm-unhide {
  display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 35px;
  padding-top: 10px;
  min-height: calc(100vh - 50px);
  transition: all 0.3s;
  position: relative;
  /*for footer-custom*/
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.menu-item-text {
  margin-left: 0;
  transition: margin-left 0s, opacity 0.7s;
  transition-delay: 0.2s;
  opacity: 1;
}

.menu-item-text {
  margin-left: -500px;
  opacity: 0;
  transition: margin-left 0s, opacity 0.7s;
}

#sidebar {
  max-width: 50px;
  min-width: 50px;
}
#sidebar a {
  pointer-events: none;
}

/*.navbar-logo-div {
  max-width: $sidebar-icon-only-width;
  overflow: hidden;
}*/
@media (max-width: 768px) {
  .sm-hide {
    display: none !important;
  }

  .sm-unhide {
    display: block !important;
  }
}
#sidebar:hover, #sidebar.sidebar-expanded {
  max-width: 210px;
  min-width: 210px;
}
#sidebar:hover .menu-item-text, #sidebar.sidebar-expanded .menu-item-text {
  margin-left: 0;
  opacity: 1;
  transition: margin-left 0s, opacity 0.7s;
  transition-delay: 0.2s;
}
#sidebar:hover a, #sidebar.sidebar-expanded a {
  pointer-events: auto;
}

/* ---------------------------------------------------
    OTHER CLASSES
----------------------------------------------------- */
.user-dropdown-menu-header {
  padding: 7px 14px;
  background-color: #EEE;
  text-align: center;
  border-bottom: solid 1px #DDD;
}

.user-dropdown-menu {
  padding-top: 0;
  overflow-y: hidden;
}

.navbar-custom {
  margin: 0;
  padding: 0;
  min-height: 50px;
}

.navbar-title {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-title span {
  line-height: 100%;
}

.footer-custom {
  position: fixed;
  bottom: 0;
  min-height: 25px;
  background: #fff;
  width: 100%;
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.1);
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  font-size: 70%;
}

.lastUpdate {
  font-size: 70% !important;
}

.dashboardTitle {
  margin-right: 15px;
}

.label-filter {
  font-size: 80%;
  font-weight: lighter;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1px;
}

.ellipsis, .ellipsis-reversed {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis-reversed {
  direction: rtl;
}

.form-group {
  margin-bottom: 6px;
}

/* --- sticky sidebar */
.sidebar {
  will-change: min-height, width, max-width, min-width;
}

.sidebar__inner {
  transform: translate(0, 0);
  /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

/* --- sticky sidebar */
.grid-custom {
  width: 100%;
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  column-gap: 10px;
}

.centralize-content {
  align-self: center;
  justify-self: center;
}

.vertical-centralize-content {
  align-self: center;
}

.sidebar-close-btn {
  cursor: pointer;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 0px;
}

.sidebar-close-btn:hover {
  background-color: #4b4b4b;
  color: #ffdf00;
}

.btn-custom {
  background-color: #ffdf00;
  color: #4b4b4b;
}

.btn-custom:hover {
  background-color: #4b4b4b;
  color: #ffdf00;
}

.modal-header-custom {
  background-color: #eaeaea;
  font-weight: lighter;
}

.modal-btn-custom {
  background-color: #eaeaea;
  font-weight: lighter;
  font-size: 85%;
}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.card-custom {
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.card-A, .card-B, .card-C, .card-D {
  min-height: 250px;
  padding: 5px;
  height: 100%;
}

.card-D-outer {
  flex: 1;
  overflow-x: auto;
}

/*# sourceMappingURL=main.css.map */
